.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px -2px black;
  background-color: #f5f5f5;
  margin: 15px;
  height: 60px;
}

.nav-logo img {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  width: 45px;
  vertical-align: top;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  color: #171717;
  font-size: 49px;
  font-weight: 600;
  font-family: "explora", cursive;
  margin-right: 1030px;
  cursor: pointer;
}

#cart {
  display: none;
}

.nav-login-cart {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  gap: 5px;
}

.nav-login-cart-count {
  text-align: center;
  width: 15px;
  height: 15px;
  display: flex;
  font-weight: 600;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: 12px;
  margin-right: 2px;
  border-radius: 50%;
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
  background: #f44336;
  color: #fff;
  overflow: hidden;
}

.login {
  font-family: "explora";
  font-size: 25px;
  text-decoration: underline;
  font-weight: lighter;
  margin-right: 25px;
  margin-top: -3px;
  color: black;
  padding-left: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    width: 97%;
  }

  .title {
    font-size: 45px;
    margin-right: 430px;
  }
}
