.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px -2px black;
  background-color: #f5f5f5;
  margin: 15px;
  height: 50px;
}

.nav-logo img {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  width: 45px;
  vertical-align: top;
}

.title {
  color: #171717;
  font-size: 40px;
  font-weight: 600;
  font-family: "explora", cursive;
  margin-right: 1000px;
}

.nav-login-cart {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  gap: 5px;
}

.nav-login-cart-count {
  text-align: center;
  width: 15px;
  height: 15px;
  display: flex;
  font-weight: 600;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: -13px;
  margin-left: -14px;
  margin-right: 2px;
  border-radius: 50%;
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
  background: #f44336;
  color: #fff;
  overflow: hidden;
}

.login {
  font-family: "explora";
  font-size: 25px;
  text-decoration: underline;
  font-weight: 600;
  margin-right: 35px;
}

@media (max-width: 768px) {
  .nav-login-cart {
    margin-right: 5px;
    font-size: 16px;
    gap: 3px;
  }

  .login {
    font-size: 18px;
    margin-right: 10px;
  }
}
