.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px -2px black;
  background-color: #f5f5f5;
  margin: 8px;
  padding: 5px;
  height: 65px;
  
}

.navbar h1 {
  color: #171717;
  height: 65px;
  padding: 5px;
  font-size: 56px;
  font-weight: 600;
  font-family: "explora", cursive;
  cursor: pointer;
  margin-top: -10px;
}

.nav-left {
  display: flex;
}

.nav-left img {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  width: 65px;
  vertical-align: top;
  margin-top: 10px;
  cursor: pointer;
  transform: translateY(-12px);
}

.nav-right {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

.nav-right a {
  text-decoration: none;
  margin: 5px;
  
}

.icon {
  padding: 2px;
  margin: 5px;
  transform: translateX(15px);
}

.nav-right h1 {
  font-size: 30px;
}

.cart {
  margin: 5px;
  color: #171717;
}


@media (max-width: 768px) {
  .navbar {
    width: 97%;
  }

  .title {
    font-size: 45px;
    margin-right: 430px;
  }
}
